.ear-img-active {
  animation: ear-animation 1s ease-in-out infinite alternate;
}

.ear-img-active-slow {
  animation: ear-animation 2s ease-in-out infinite alternate;
}

@keyframes ear-animation {
  from {
    opacity: 0.8;
    transform: scale(1);
  }
  to {
    opacity: 0.4;
    transform: scale(1.02);
  }
}
