.container {
  height: 90svh;
}

.app-title {
  padding-left: 3.8%;
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073,
      0 0 60px #fd9d02;
  }

  to {
    box-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #ff4da6,
      0 0 60px #ff4da6, 0 0 70px #ac4dff;
  }
}

@media (min-width: 450px) {
  .app-title {
    padding-left: 1.1%;
  }

  /* .mobile-frame {
    background-image: url("/phone-frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;
  } */
}

.navbar {
  border-radius: 1rem;
  /* background: #a60989; */
  width: 90vw;
  /* padding: 0.8rem; */
  margin: 0.4rem;
  display: flex;
  align-items: center;
}

.navbar-btn {
  width: 50%;
  /* height: 2rem; */
  margin: 0.4rem;
  /* padding: 0.8rem; */
  /* height: 5rem; */
}

.active {
  border-radius: 0.5rem;
  /* height: 3rem; */

  /* opacity: 0.4; */
  background: rgba(254, 174, 218, 0.4);
  width: 50%;
}

.ear-icon {
  transform: scaleX(-1);
}
