.container {
  height: 90svh;
}

.app-title {
  padding-left: 3.8%;
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073,
      0 0 60px #fd9d02;
  }

  to {
    box-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #ff4da6,
      0 0 60px #ff4da6, 0 0 70px #ac4dff;
  }
}

@media (min-width: 450px) {
  .app-title {
    padding-left: 1.1%;
  }
}

.navbar {
  /* border-radius: 1rem; */
  background: #a60989;
  width: 100vw;

  display: flex;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-btn {
  width: 33%;
  margin: 0.4rem;
  display: flex;
  justify-content: center;
}

.active {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  background: rgba(254, 174, 218, 0.4);
  width: 33%;
  margin: 0.4rem;
}

.ear-icon {
  transform: scaleX(-1);
}
